$desktop-extra-content-padding: 40px;
$desktop-max-width: 1110px + $desktop-extra-content-padding * 2;
$desktop-min-width: 1024px;
$tablet-min-width: 768px;

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #9f9f9f;
