.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label__text {
  position: absolute;
  color: $color-grey;
  pointer-events: none;
  transition: transform 0.2s, color 0.2s;
  transform: translateY(8px);
  transform-origin: top left;

  .form-label--focused &,
  .form-label--filled & {
    line-height: 13.8px;
    transform: translateY(-8px) scale(0.75);
  }

  .form-label--focused & {
    color: $color-black;
  }

  .form-label--error & {
    color: $color-red;
  }
}

.form-label__input {
  padding: 8px 8px 8px 0;
  border: none;
  border-bottom: 1px solid $color-grey;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.3px;
  transition: border-color 0.2s;

  .form-label--focused & {
    border-color: $color-black;
  }

  .form-label--error & {
    border-color: $color-red;
    color: $color-red;
  }
}

.form-label__invalid-text {
  position: absolute;
  top: 37px;
  z-index: 1;
  margin: 0;
  color: $color-red;
  font-size: 12px;
  line-height: 14px;
}
