.map {
  @include viewport--1023 {
    position: static;
    width: 100%;
    height: 300px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  @include viewport--767 {
    height: 200px;
  }

  position: absolute;
  top: 0;
  left: calc(100% + 50px);
  width: calc(100% + 50px);
  height: 700px;
}
