.product-list__heading {
  @include viewport--767 {
    font-size: 26px;
    line-height: 29.9px;
  }

  margin: 5px 0;
  padding: 0 1px;
  font-weight: bold;
  font-size: 28px;
  line-height: 32.2px;
  letter-spacing: 0.8px;
}

.product-list__list {
  @include viewport--767 {
    padding-top: 10px;
  }

  margin: 0;
  padding: 0;
}

.product-list__total {
  @include viewport--1023 {
    position: static;
    width: 100%;
    padding: 20px;
    background-color: transparent;
  }

  @include viewport--767 {
    padding: 24px 0;
  }

  position: absolute;
  top: 565px;
  left: calc(100% + 50px);
  display: flex;
  justify-content: space-between;
  width: calc(100% + 50px);
  padding: 45px 30px;
  background-color: rgba($color: $color-black, $alpha: 0.8);
}

.product-list__total-text {
  @include viewport--1023 {
    color: $color-black;
    font-weight: bold;
    font-size: 30px;
  }

  @include viewport--767 {
    font-size: 26px;
    line-height: 29.9px;
  }

  margin: 0;
  color: $color-white;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}
