.product-list__heading {
  @include viewport--767 {
    font-size: 26px;
    line-height: 29.9px;
  }

  margin: 5px 0;
  padding: 0 1px;
  font-weight: bold;
  font-size: 28px;
  line-height: 32.2px;
  letter-spacing: 0.8px;
}

.product-list__list {
  @include viewport--767 {
    padding-top: 10px;
  }

  margin: 0;
  padding: 0;
}
