.product {
  @include viewport--767 {
    padding: 16px 35px 13px 0;
    padding-right: 2px;
  }

  display: flex;
  padding: 25px 35px 24px 0;
  border-bottom: 1px solid $color-grey-light;
  list-style: none;
}

.product__image {
  @include viewport--767 {
    min-width: 80px;
    max-width: 80px;
    max-height: 80px;
    margin-right: 12px;
  }

  object-fit: cover;
  min-width: 150px;
  margin-right: 20px;
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.product__heading {
  @include viewport--767 {
    font-size: 16px;
    line-height: 18.4px;
  }

  width: 50%;
  margin: 0;
  margin-bottom: 10px;
  color: $color-black;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.9px;
}

.product__price {
  @include viewport--767 {
    font-size: 16px;
    line-height: 18.4px;
  }

  width: 50%;
  margin: 0;
  color: $color-black;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}

.product__description {
  @include viewport--1023 {
    max-width: 450px;
  }

  @include viewport--767 {
    display: none;
  }

  max-width: 150px;
  margin: 0;
  color: $color-grey;
  font-size: inherit;
  line-height: inherit;
}

.product__counter-wrapper {
  margin-top: auto;
}

.product__button-delete {
  @include viewport--767 {
    font-size: 12px;
    line-height: 13.8px;
  }

  align-self: flex-end;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $color-grey;
  font-size: 14px;
  line-height: 16.1px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $color-black;
  }
}
