.shipment-form__half-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shipment-form__label {
  @include viewport--1023 {
    margin-bottom: 26px;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .shipment-form__half-wrapper & {
    @include viewport--767 {
      width: 100%;
    }

    width: calc(50% - 17.5px);
  }
}

.shipment-form__label-text {
  position: absolute;
  color: $color-grey;
  pointer-events: none;
  transition: transform 0.2s, color 0.2s;
  transform: translateY(8px);
  transform-origin: top left;

  .shipment-form__label--focused &,
  .shipment-form__label--filled & {
    line-height: 13.8px;
    transform: translateY(-8px) scale(0.75);
  }

  .shipment-form__label--focused & {
    color: $color-black;
  }
}

.shipment-form__input {
  padding: 8px 8px 8px 0;
  border: none;
  border-bottom: 1px solid $color-grey;
  outline: none;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.3px;
  transition: border-color 0.2s;

  .shipment-form__label--focused & {
    border-color: $color-black;
  }
}

.shipment-form .product-list {
  @include viewport--1023 {
    margin-top: 40px;
  }

  margin-top: 69px;
}

.shipment-form__total {
  @include viewport--1023 {
    position: static;
    width: 100%;
    padding: 20px;
    background-color: transparent;
  }

  @include viewport--767 {
    padding: 24px 0;
  }

  position: absolute;
  top: 565px;
  left: calc(100% + 50px);
  display: flex;
  justify-content: space-between;
  width: calc(100% + 50px);
  padding: 45px 30px;
  background-color: rgba($color: $color-black, $alpha: 0.8);
}

.shipment-form__total-text {
  @include viewport--1023 {
    color: $color-black;
    font-size: 30px;
  }

  @include viewport--767 {
    font-size: 26px;
    line-height: 29.9px;
  }

  margin: 0;
  color: $color-white;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}

.shipment-form__button-submit {
  @include viewport--767 {
    padding: 16px;
  }

  width: 100%;
  padding: 23px;
  border: 1px solid $color-black;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.3px;
}
