.shipment-form__half-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .form-label {
    @include viewport--767 {
      width: 100%;
    }

    width: calc(50% - 17.5px);
  }
}

.shipment-form .form-label {
  @include viewport--1189 {
    margin-bottom: 40px;
  }

  @include viewport--1023 {
    margin-bottom: 26px;
  }

  margin-bottom: 30px;
}

.shipment-form .product-list {
  @include viewport--1023 {
    margin-top: 40px;
  }

  margin-top: 69px;
}

.shipment-form__button-submit {
  @include viewport--767 {
    padding: 16px;
  }

  width: 100%;
  padding: 23px;
  border: 1px solid $color-black;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.3px;
  transition: color 0.3s, background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
  }
}
